<ion-header [translucent]="true">
  <ion-toolbar>
    <custom-toolbar></custom-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-title>
      Populares
    </ion-title>
    <swiper-container slides-per-view="2.2" space-between="8" free-mode="true">
      @for (restaurant of getRestaurants(); track restaurant.id) {
        <swiper-slide>
          <restaurant-card [id]="restaurant.id" 
                          [name]="restaurant.name"
                          [cover]="restaurant.cover"
                          [distance]="restaurant.distance"
                          [city]="restaurant.city"
                          [category]="restaurant.category"
                          [avgPrice]="restaurant.avgPrice">
          </restaurant-card>
        </swiper-slide>
      }
    </swiper-container>
  </div>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>