<div class="review-card">
  <div class="review-header">
    <ion-avatar class="review-avatar">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="avatar" />
    </ion-avatar>
    <div class="review-meta">
      <span class="review-name">{{ review.username }}</span>
      <span class="review-date">{{ review.createdAt }}</span>
    </div>
    <div class="review-rating">
      <span>{{ review.score }}</span>
      <ion-icon name="star-sharp"></ion-icon>
    </div>
  </div>
  <p class="review-comment">{{ review.comment }}</p>
</div>
